<div class="flex justify-center items-center min-h-screen bg-gray-100">

  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">

    <h2 class="text-2xl font-bold mb-6 text-center">
      Login
    </h2>

    <form #form="ngForm" (ngSubmit)="login()" class="space-y-4">

      <!-- Email -->
      <div>
        <input
          type="email"
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          required
          email
          #emailRef="ngModel"
          class="w-full border p-3 rounded focus:ring-2 focus:ring-indigo-500">

        <!-- Email Error -->
        <p class="text-red-500 text-sm mt-1"
           *ngIf="emailRef.touched && emailRef.invalid">

          <span *ngIf="emailRef.errors?.['required']">
            Email is required
          </span>

          <span *ngIf="emailRef.errors?.['email']">
            Enter a valid email
          </span>

        </p>
      </div>

      <!-- Password -->
      <div>
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
          required
          minlength="6"
          #passwordRef="ngModel"
          class="w-full border p-3 rounded focus:ring-2 focus:ring-indigo-500">

        <!-- Password Error -->
        <p class="text-red-500 text-sm mt-1"
           *ngIf="passwordRef.touched && passwordRef.invalid">

          <span *ngIf="passwordRef.errors?.['required']">
            Password is required
          </span>

          <span *ngIf="passwordRef.errors?.['minlength']">
            Password must be at least 6 characters
          </span>

        </p>
      </div>

      <!-- Auth Error -->
      <p class="text-red-500 text-sm" *ngIf="error">
        {{ error }}
      </p>

      <!-- Button -->
      <button
        type="submit"
        [disabled]="form.invalid"
        class="w-full bg-black text-white py-3 rounded hover:bg-gray-800 disabled:bg-gray-400">

        Login

      </button>

    </form>

  </div>

</div>