<nav class="bg-white border-b shadow-sm">

  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">

    <!-- Logo -->
    <a routerLink="/products" class="text-xl font-bold text-gray-900">
      ShopEase
    </a>

    <div class="flex items-center gap-6">

      <!-- Products -->
      <a routerLink="/products" class="text-gray-600 hover:text-black font-medium">
        Products
      </a>

      <!-- Cart -->
      <a routerLink="/cart" class="relative font-medium text-gray-700 hover:text-black">

        Cart

        <span
          *ngIf="totalItems() > 0"
          class="absolute -top-2 -right-3 bg-red-500 text-white text-xs px-2 py-1 rounded-full">

          {{ totalItems() }}

        </span>

      </a>

      <!-- Guest Mode -->
      <ng-container *ngIf="!auth.isLoggedIn()">

        <a routerLink="/login" class="text-gray-600 hover:text-black font-medium">
          Login
        </a>

        <a
          routerLink="/register"
          class="bg-indigo-600 text-white px-4 py-1 rounded hover:bg-indigo-700">

          Register

        </a>

      </ng-container>

      <!-- Logged In User -->
      <ng-container *ngIf="auth.isLoggedIn()">

        <span class="text-gray-700 font-medium">
          Hello {{ auth.getUser()?.name }}
        </span>

        <button
          (click)="auth.logout()"
          class="text-red-500 hover:text-red-700">

          Logout

        </button>

      </ng-container>

    </div>

  </div>

</nav>