<footer class="bg-black text-gray-300 mt-20 border-t border-gray-800">

  <div class="max-w-7xl mx-auto px-6 py-12 grid md:grid-cols-4 gap-10">

    <!-- Logo -->
    <div>
      <h2 class="text-white text-2xl font-bold mb-4">MyStore</h2>
      <p class="text-gray-400 text-sm leading-relaxed">
        Premium shopping experience with the latest products,
        fast delivery and secure checkout.
      </p>
    </div>

    <!-- Shop -->
    <div>
      <h3 class="text-white font-semibold mb-4">Shop</h3>
      <ul class="space-y-2 text-sm">
        <li><a routerLink="/" class="hover:text-white">Home</a></li>
        <li><a routerLink="/products" class="hover:text-white">Products</a></li>
        <li><a routerLink="/cart" class="hover:text-white">Cart</a></li>
      </ul>
    </div>

    <!-- Company -->
    <div>
      <h3 class="text-white font-semibold mb-4">Company</h3>
      <ul class="space-y-2 text-sm">
        <li><a class="hover:text-white">About</a></li>
        <li><a class="hover:text-white">Careers</a></li>
        <li><a class="hover:text-white">Blog</a></li>
      </ul>
    </div>

    <!-- Contact -->
    <div>
  <h3 class="text-white font-semibold mb-4">Contact</h3>
  <ul class="space-y-2 text-sm">
    <li>Email: support&#64;shopease.com</li>
    <li>Phone: +91 62147 92280</li>
    <li>Kolkata, India</li>
  </ul>
</div>

  </div>

  <!-- Bottom bar -->

  <div class="border-t border-gray-800 text-center py-4 text-sm text-gray-500">
    © {{year}} MyStore. All rights reserved.
  </div>

</footer>